
body
{
  display: flex;;
  justify-content: center;
  align-items: center;
  height:100vh;
  font-family: 'Times New Roman', Times, serif;
  background: 2px solid gray;

}
.main
{
  display: grid;
  align-items: center;
  justify-content: center;
}

.calc
{
  border-radius: 6px;
  padding: 10px;
  background-color:gray ;
  background: 2px solid rgb(23, 22, 22);
  width: 260px;
  /* justify-content: center;
  align-items: center; */
}
 #input /* calculator screen */
{ display: grid;
  grid-template-columns: repeat(1,1fr);
  width: 100%;
  height: 40px;
  text-align: right;
  padding: 3px;
  border-radius: 6px;
  border: none;
}
.buttons
{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap:5px;
}
buttons{
  
  
  border-radius: 6px;
  cursor: pointer;
  background-color: white;
  color: black;
}
.first{
  /* display: flex; */
  /* padding: 5px; */
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 2px;
  padding: 3px;
  
}
.clear{
  background: rgb(165, 239, 224);
  border: none;
  border-radius: 6px;
  

}
.delete
{
  background: rgb(235, 172, 208) ;
   border: none;
  border-radius: 6px;
   
}


